<div *ngIf="contributedNode" class="inline-component">
    <span>Gripper Set Parameters:</span>
    <ur-dropdown
        [options]="this.commandOpt"
        [label]="'Command'"
        [placeholder]="'- Select -'"
        [selectedOption]="this.getCurrentCommand()"
        (selectionChange)="this.onCommandChange($event)"
    ></ur-dropdown>

    @if (this.isArgInput()) {
        <ur-dialog-number-input
            [clearable]="true"
            [disabled]="false"
            label="Argument value"
            keyboardLayout="numeric-free-positive"
            [max]="this.getCurrentArgMax()"
            [min]="this.getCurrentArgMin()"
            [step]="0.1"
            [placeholder]= "this.contributedNode.parameters.commandArgArray[this.getCurrentCommandIndex()].toString()"
            [required]="false"
            [suffix]="this.contributedNode.parameters.commandArgUnitArray[this.getCurrentCommandIndex()]"
            (valueChanged)="this.onValueChange($event)"
            [value]="this.contributedNode.parameters.commandArgArray[this.getCurrentCommandIndex()]"
        ></ur-dialog-number-input>
    }
</div>

