@import '../../../styles.scss';

.inline-component {
  display: flex;
  align-items: center;
  height: 40px;
  gap: var(--spacing-03);
 
  span {
    padding-right: 0.5rem;
    white-space: nowrap;
  }
}


